<h1>{{title}}</h1>
<app-meu-primeiro></app-meu-primeiro>
<app-cursos></app-cursos>>
<app-data-binding></app-data-binding>
<app-meu-form></app-meu-form>-->

<section>
  <article>
    <app-curso [pessoa]="pessoa"></app-curso>
    <contador [valor]="valorInicial" ><!--OUTPUT-PROPERTY.COMPONENT--><!-- O MÉTODO mudouValor FOI RECEBIDO PELO onMudouValor($event) -->
    (mudouValor)="onMudouValor($event)"></contador>
  </article>
</section>
<app-ciclo [valor]="valorInicial" *ngIf="!destruir"></app-ciclo>
<button (click)="mudarValor()">Mudar Valor</button>
<button (click)="destruirCiclo()">Deletar</button>

<contador></contador>
<app-diretiva-ngif></app-diretiva-ngif>
<app-diretiva-ngswitch></app-diretiva-ngswitch>
<app-diretiva-ngfor></app-diretiva-ngfor>
<app-diretiva-ngclass></app-diretiva-ngclass>
<app-diretiva-ngstyle></app-diretiva-ngstyle>
<app-operador-elvis></app-operador-elvis>
<app-exemplo-ng-content>
  Conteúdo passado para o componente.
  <app-operador-elvis></app-operador-elvis>
</app-exemplo-ng-content>

<app-exemplo-ng-content>
  <div class="titulo">Título do card</div>
  <div class="corpo">Conteúdo passado para o componente.</div>
</app-exemplo-ng-content>
